@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative !important;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
  color: white !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.text-default {
  font-weight: 700;
  font-size: 16px;
}
